/* 
All Tweets CSS
*/


.tweets {
  width: 100%;
}

article.tweet {
  border: solid;
  border-color: #000000;
  border-bottom-left-radius: 30px 150px;
  border-bottom-right-radius: 30px 150px;
  padding: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
}

article.tweet:hover {
  box-shadow: 4px 7px 0px rgba(0,0,0,0.3);
}

article.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

article.tweet h4 {
  margin-left: 10px;
}

article.tweet span.handle  {
  color: #D3D3D3;
  margin-left: auto;
}

article.inner-tweets {
  font-size: 17px;
  border: #4f9ba9;
  border-bottom-style: solid;
}

.tweets h4 {
  margin: 0px;
}

.tweet-footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweets footer span i:hover {
  opacity: 30%;
}