/* 
Nav Layout 
*/

nav {
  color: #FFFFFF;
  background-color: #4056a1;
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  padding: 1.5em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

#newTweet-container {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  border-style: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}