/* 
Nav Layout 
*/

nav {
  color: #FFFFFF;
  background-color: #4056a1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  height: 120px;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

.newTweet-container {
  display: flex;
  align-items: center;
}