/* 
New-Tweet CSS
*/

.new-tweet {
  position: relative;
  width: 90%;
  padding-top: 0.2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.new-tweet h2 {
  font-size: 1.2em;
}

label[for="extra-text"] {
  font-size: 20px;
}

textarea {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 35px;
  font-size: 18px;
  margin-top: 10px;
  border-bottom-style: solid;
  border-bottom-color: #4f9ba9;
  border-bottom-width: 2px;
}

textarea::placeholder {
  opacity: 60%;
  font-style: italic;
}

#tweet-button {
  font-family: Bungee, sans-serif;
  color: #FFFFFF;
  background: #80c0cc;
  border: none;
  box-shadow: 0px 3px 3px rgba(0,0,0,.2);
  margin-top: 15px;
}

span.counter {
  font-family: Bungee, sans-serif;
  font-size: 1.1em;
  margin-top: 15px;
  float: right;
}

span.counter.tweetTooLong {
  color: #FF0000;
}

